src/*.o
src/*.so
src/*.dll
src/*.a
src/rcounter/target/*

inst/AUTHORS
*.tar.gz
*.tar.xz
*.gz
*.rds

# Ignore Rcheck directory
*.Rcheck/

# Ignore Git directory
.git/

# Ignore R-related files that should not be in a package tarball
.Rhistory
.RData
.Rhistory

.Rproj.user
inst/doc
docs
revdep/
src/vendor
src/rcounter/vendor
src/Makevars
src/Makevars.win
*.tar.gz
*.Rcheck
rcounter/target/